body{
    margin-left:10%;
    margin-right:10%;
    justify-content: center;
    
}
.egesz{
    background:khaki;
    height:100%;
    border: 2px solid grey;
    box-shadow: 2px 1px 4px 4px grey;
    font-family: 'Anton', sans-serif;
    text-align: justify;
    text-indent: 10px;
    padding-left:10px;
    padding-right:10px;
    font-stretch: expanded;
      letter-spacing: 0.4px
    
    ;
}
p{
    
}