#fejlec{
    color: #474747;
    text-align: center;
    margin-top:0%;
    font-size:65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:none;
    border:none;    
}

.container{
    top:0;
    
    weight:100%;
    
    
}
.cardholder{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0 auto;
    background:violet

    
    
    
    
}

img{
    width:300px;
    height:250px;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.igen{
    display:flex;
    justify-content: center;
    padding-top:4%
    
}
.nem{
    flex-grow:1.5;
    justify-content: center;
}
li{
        font-size:27px;
        font-stretch: ultra-condensed;
}

.arrebb{

    font-size:50px;
    float:left;
    display: inline;
   margin-left:30%;
   border-radius: 10px 20px;
   margin-top:4%
}
.alrebb{
    font-size:50px;
    float:right;
    display:inline-block;
    margin-right:30%;
    border-radius: 10px 20px;
    margin-top:4%

}

img{
    box-shadow: 1px 0px 3px 2px gray;
    border-radius: 20px 10px 100px 20px;
}
.padding{
    padding-bottom: 30px;
    padding-top: 100px;
    list-style-type:none;
}
img:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
body{
    background-image: url(background.jpg) ;
    ;
    background-size: contain;
    margin-left:auto;
    margin-right:auto;
    
}
.content{
   margin-left:10%;
   margin-right:10%;
   text-align: center;
}
.kedvesseg{
    font-size:25px;
    color:#474747;
    text-decoration-color: tomato;
    
    
    
     ;
}
.kedvhelyezes{
    padding-right:100%;
    
}

#katt{
    font-size:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:none;
    border:none;
    background:#474747;
    height:100%;
    color:white;
    letter-spacing: 1px;
     border: 1px solid #474747;
    border-radius: 10px 10px;
    
    
}

#harmadik-gomb{
    font-size:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:none;
    border:none;
    background:#474747;
    height:100%;
    color:white;
    letter-spacing: 1px;
    border: 1px solid #474747;
    border-radius: 10px 10px;
}


#idene{
    font-size:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:none;
    border:none;
    background:#474747;
    height:100%;
    color:white;
    letter-spacing: 1px;
    
}
.szamlalo{

    
    
    margin-bottom: 10%;
list-style-type:none;
	
	border: none;
	text-transform: capitalize;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer
	
}
.szam{
font-size: 20px;
}
#todo{
    font-size:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    border:none;
    background:#474747;
    height:300px;
    color:white;
    letter-spacing: 1px;
    border: 1px solid #474747;
    border-radius: 10px 10px;
    
    
}

li{
    list-style-type:none;

}
.meghivo{
    font-size:40px;
    color: indianred;
    text-decoration-style: double;
    text-decoration-color: lawngreen;
    border:5px solid lawngreen;
}