h1{
    text-align:center;
    color:white;
    
}
.container{
    background: darkred;
    position: fixe;
    text-align: center;
}
ul{
    list-style-type: none;
    font-size: large;
    
}
img{
    width:300px;
    height:250px;
}
.igen{
    display:flex;
    ;
}
.nem{
    flex-grow:1.5;
}
li{
        font-size:22px;
        font-stretch: ultra-condensed;

}
.arrebb{
 padding-left: 100px;
 padding-top:30px;
 font-size:30px;
 justify-content: flex-end;
}
.alrebb{
    font-size:30px
}